:root {
  --background: #f4f4f4;
  --card-color: #fff;
  --azul-unimex: #024b92;
  --border-color: #e3ecf6;

  --text-color: #363636;
  --muted-color: #8b8b8b;

  --border-radius: 0.7rem;
  --azul-unimex-hover: #1c75ce;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

html,
body {
  scroll-behavior: auto;
}

h1 {
  color: var(--azul-unimex);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
