@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --azul-unimex: #024b92;
  --border: #ececec;
  --border-radius: 0.7rem;
  --azul-unimex-hover: #1c75ce;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}

h1 {
  color: var(--azul-unimex);
}