.hero-container {
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}

.hero-text-content {
    background-color: transparent;
    pointer-events: none;
    height: 100%;
}